*{
    margin: 0;
    padding: 0;
}

.card{
    justify-content: center;
    text-align: center;
}

#profile{
    margin-left: 23%; 
    width: 10rem;
}


aside {
    position: fixed;
    float: left;
    width: 20vw;
    height: 100vh;
}

/*.cajon {
    float: left;
    /* background-color: #ccc; 
    width: 20vw;
    height: 100vh;
}*/

h1{
    width: 100%;
    font-family: 'Oi', cursive;
}

#hero{
    background: rgb(1,234,165);
background: linear-gradient(90deg, rgba(1,234,165,0.8575805322128851) 16%, rgba(1,181,234,0.8575805322128851) 33%, rgba(8,226,180,1) 48%, rgba(20,188,152,1) 71%, rgba(26,173,147,1) 84%, rgba(34,114,198,0.865983893557423) 100%);  background-repeat: repeat; 
padding-bottom: 2%;
}

main{
    margin-left: 20vw;
}
.hero-container{
    width: 100vh;
    height: 100vh; 
    
    
}

 #face{
    width: 50%;
    
 }

 #sobremi{
    text-align: center;
    
 }

 #resumen{
 display: flex;
 }

